<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6090335711-mvpnasts8ve5107il0q5ddruv2iu2obc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6090335711-mvpnasts8ve5107il0q5ddruv2iu2obc</string>
	<key>API_KEY</key>
	<string>AIzaSyCLj6VGQew27iOsjbxe4tzsvQms-EQOxuc</string>
	<key>GCM_SENDER_ID</key>
	<string>6090335711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trszdev.ComradeDVR</string>
	<key>PROJECT_ID</key>
	<string>comradedvr-36398</string>
	<key>STORAGE_BUCKET</key>
	<string>comradedvr-36398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6090335711:ios:2f6c3f544b228684d0d06a</string>
</dict>
</plist>